<h4><%= t("ext_galleries_new_gallery_item") %></h4>
<%= form_for(:gallery_item, :url => { :controller => 'gallery_items', :action => 'create' }, :html => { :multipart => true }) do |form| %>
  <table class="basic-table">
    <%= render :partial => "form", :locals => { :f => form } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>
<% end %>


<script type="text/javascript">    
  jQuery('#cancel_link').click(function (event) { 
    jQuery('#new_gallery_item_link').show();
    jQuery('#gallery_item_form').html('');
  });  
 
</script>

 
 
